.container {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
.inputTarea, a {
	max-width: 80%;
	margin: 0 auto;
}
ul {
	overflow: scroll;
}
li {
	list-style: none;
}
i.icono-borrar {
	float: right;
}
input.checkbox {
	float: left;
}